<h1>Selamat datang ke laman web PASO!</h1>
<h3>Laman PASO (aka 'pasar') adalah aplikasi web atas talian bagi menghubungkan komuniti pengguna dalam membeli dan menjual barangan terpakai.</h3>
<p>Sama ada anda ingin mencari pakaian, kasut mahupun aksesori kecantikan, PASO menyediakan pelbagai koleksi daripada jenama-jenama yang dijual oleh serata pengguna. Daripada koleksi pakaian Muslimah seperti peplum kurung, peplum dress, baju kurung peplum, baju kurung moden online sehingga ke kasut tumit tinggi, sandal, seluar jean, seluar sukan, kemeja, jaket atau kot, adalah daripada pelbagai jenama dan pereka tempatan serta antarabangsa. Segalanya bermula di hujung jari anda.</p>

<p>PASO telah dibina dan diselenggara oleh Tapdesk Innovation, sebuah syarikat yang berpangkalan di Johor Bahru. Misi kami adalah bagi mewujudkan platform mesra niaga di kalangan pengguna internet di Malaysia.</p>
