@import "bootstrap";

body {
	background: #EEEEEE;
	color: #333333;
	font-family: 'Lucida sans', 'Trebuchet MS', tahoma, arial;
;

}

.navbar-default {
	background-color: #000000;
}

.navbar-default .navbar-brand {
	font-family: trebuchet , arial, museo-sans-rounded, Mistral;
	font-weight: 300;
	color: #FFFFFF;
	font-size: 35px;
}

.navbar-default .navbar-nav > li > a {
	font-family: 'Lucida sans', 'Trebuchet MS', tahoma, arial;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
}

.center {
	text-align: center;
}

.col-md-3:nth-child(4n+1) {
	clear: left;
}

.col-md-6 {
	h3 {font-size: 45px;}
	h5 {font-size: 25px;}
	p {font-size: 18px;}
}

.caption {
	h3 {
		font-size: 17px;
		margin: 2px;
	}
	p {
		font-size: 15px;
		margin: 0px;
	}
}